<form action="formsubmit" method="post">
    <input type="hidden" name="mode" value="edit" />
    <label for="sheetId">Sheet ID</label>
    <input
      type="text" 
      class="form-control"
      name="sheetId"
      id="sheetId"
      value="1fbs98T7BN0bl6bbAB-ELjNaigwLO0KCp"
    />
    <br />
    <label for="fieldName">Field Name</label>
    <input type="text" class="form-control" name="fieldName" id="fieldName" value="identi" /> <br />
    <label for="fieldLabelInSheet">Field Label in Sheet</label>
    <input
      type="text"
      name="fieldLabelInSheet"
      class="form-control"
      id="fieldLabelInSheet"
      value="Identifier"
    />
    <br />
    <label for="cdmAlias">CdM Collection Alias</label>
    <input type="text" class="form-control" name="cdmAlias" id="cdmAlias" value="/BowdenTest" /> <br />
    <label for="firstCdmNumber">First CdM Number</label>
    <input
      type="text"
      class="form-control"
      name="firstCdmNumber"
      id="firstCdmNumber"
      value=""
    />
    <br />
    <label for="lastCdmNumber">Last CdM Number</label>
    <input type="text" class="form-control" name="lastCdmNumber" id="lastCdmNumber" value="" />
    <br />
    <label for="firstSheetRow">First Sheet Row</label>
    <input type="text" class="form-control" name="firstSheetRow" id="firstSheetRow" value="" /> <br />
    <label for="lastSheetRow">Last Sheet Row</label>
    <input type="text" class="form-control" name="lastSheetRow" id="lastSheetRow" value="" /> <br />
    <input type="submit" class="form-control btn btn-primary" value="Submit" />
  </form>
  