<script>
  $(document).ready(function(){
      $('[data-bs-toggle="tooltip"]').tooltip();
  });
  </script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Catcher Edit Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logs">Logs</a>
          </li>
          <% if (typeof defaults.cdmAdminUrl !== "undefined") { %>
          <li class="nav-item">
            <a class="nav-link" href="<%- defaults.cdmAdminUrl %>" target="cdmAdmin">CONTENTdm Admin</a>
          </li>
          <% } %>
        </ul>
        <form class="d-flex" method="post" action="/logs/search/" id="log-form">
          <div class="input-group">
            <div class="input-group-text"><i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Try searching by identifier or ContentDM number. For short numbers, prefix the number with a colon, like ':635'"></i></div>

            <input class="form-control" type="search" name="query" id="query" placeholder="Search Logs" aria-label="Search Logs">

              <button class="btn btn-outline-primary" type="submit">Search</button>  

          </div>
        </form>
      </div>
    </div>
  </nav>