<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catcher Edit Manager</title>
    <%- include('partials/bootstrap') %>
  </head>
  <body>
    <%- include('partials/nav', defaults) %>
    <div class="container">
    <h1>Catcher Edit Manager</h1>
    <%- include('partials/form', defaults) %>
    </div>
  </body>
</html>

