<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/bootstrap') %>
</head>
<body>
    <%- include('partials/nav') %>
    <%- JSON.stringify(batches) %>
    <hr />
    <% let list = '' %>
    <% transactions.forEach(t => { %>
        <% var time = new Date(parseInt(t)); %>
        <% list = `<tr><td><a href="/logs/${t}">${t}</a></td><td>${time}</td></tr>` +list  %>
    <% }) %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            <%- list %>
        </tbody>
    </table>
</body>
</html>