<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs - Catcher Edit Manager</title>
    <%- include('partials/bootstrap') %>
</head>
<body>
    <%- include('partials/nav') %>
    <%- // JSON.stringify(batches) %>
    <% let batchList = '' %>
    <% let time = '' %>
    <% batches.forEach(b => { %>
        <% var time = new Date((b.created)); %>
        <% batchList = `<tr><td><a href="/logs/${b.batchId}">${b.batchId}</a></td>` +
        `<td>${b.batchName}</td>` +
        `<td>${b.user}</td>` +
        `<td>${b.successes}</td>` +
        `<td>${b.failures}</td>` +
        `<td>${b.collectionAlias}</td>` +
        `<td>${b.firstCdmNumber}</td>` +
        `<td>${b.lastCdmNumber}</td>` +
        `<td>${time}</td></tr>` +
            `</tr>` + batchList  %>   
    <% }) %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">BatchId</th>
                <th scope="col">BatchName</th>
                <th scope="col">User</th>
                <th scope="col">Successes</th>
                <th scope="col">Failures</th>
                <th scope="col">Collection</th>
                <th scope="col">First CDM number</th>
                <th scope="col">Last CDM number</th>
                <th scope="col">Time</th>

            </tr>
        </thead>
        <tbody>
            <%- batchList %>
        </tbody>
    </table>
</body>
</html>